@model IEnumerable<Workflow.DomainModels.Models.ViewModels.ServiceVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h1>Invoice Details</h1>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ServiceCharge)
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServiceCharge)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">            
            <a class="col-sm-4" asp-controller="Home" asp-action="Index">Back to List</a>
        </div>

    </div>
</div>